AllowShortFunctionsOnASingleLine: Empty
AllowAllParametersOfDeclarationOnNextLine: true
ColumnLimit: 120
BreakBeforeBraces: Allman
IndentCaseLabels: true
SortIncludes: false
PointerAlignment: Left
SeparateDefinitionBlocks: Always
