CompileFlags:
  Add:
    # Unity build clangd tweaks
    - -DCLANGD 
    - -x
    - c
    - src/win32_cengine.c
    - -Wno-pragma-pack
    - --target=x86_64-w64-windows-gnu
    - -IC:\zig\lib\libc\include\any-windows-any\
    - -isystem
    - C:\zig\lib\libc\include\any-windows-any\
    - -include
    - src/base/base_core.h
