CompileFlags:
  Add:
    # Unity build clangd tweaks
    - --target=x86_64-w64-windows-gnu
    - -isystem
    - C:\zig\lib\libc\include\any-windows-any\
    - -include src/base/base_core.h
    - -include mmdeviceapi.h 
    - -include audioclient.h

Diagnostics:
  UnusedIncludes: None # Suppresses the unused include warning
